body{
    margin: 0 100px;
    /* background: yellow; */
}
img{            	
    visibility: hidden;
    height: 60px;
    width: 97px;
    margin-top: 200px;
   
}

#container {
    width: 400px;
    height: 400px;
    position: relative;
    /* background: rgb(140, 0, 255); */
  }